.grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-auto-rows: 200px;
    justify-items: center;
    grid-template-areas: 
    "header header header"
    "obsah obsah reklamy"
    "zapati zapati zapati";
}

.blok {
    background-color: red;
    width: 100%;
    height: 100%;
    border: solid black 2px;
}

#zahlavi {
    /* grid-column-start: 1;
    grid-column-end: 4; */
    /* grid-column: 1 / 4; */
    grid-area: header;
    background-color: green;
}

.tlusty2 {
    grid-column: span 2; /* buď přes dva sloupce*/
    background-color: blue;
}

#obsah {
    grid-area: obsah;
}

#reklamy {
    grid-area: reklamy;
}

#zapati {
    grid-area: zapati;
}